USE [master]
GO
/****** Object:  Database [db_a6b688_sf2025]    Script Date: 2026. 01. 11. 22:26:39 ******/
CREATE DATABASE [db_a6b688_sf2025]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Unisol_2020', FILENAME = N'H:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\db_a6b688_sf2025_data.mdf' , SIZE = 8192KB , MAXSIZE = 102400KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Unisol_2020_log', FILENAME = N'H:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\db_a6b688_sf2025_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_a6b688_sf2025].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_a6b688_sf2025]
GO
/****** Object:  Table [dbo].[CegAdatok]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CegAdatok](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](100) NOT NULL,
	[CimID] [int] NOT NULL,
	[ElerhetosegekID] [int] NOT NULL,
	[AdoSzam] [nvarchar](50) NULL,
	[SzamlaSzam] [nvarchar](50) NULL,
	[Meghatalmazott] [nvarchar](100) NOT NULL,
	[IsUser] [bit] NULL,
 CONSTRAINT [PK_CegAdatok] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cimek]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cimek](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Orszag] [nvarchar](100) NOT NULL,
	[Varos] [nvarchar](100) NOT NULL,
	[PostaKod] [int] NULL,
	[Utca] [nvarchar](100) NULL,
	[Szam] [nvarchar](10) NULL,
	[Egyeb] [nvarchar](20) NULL,
	[Megjegyzes] [nvarchar](100) NULL,
 CONSTRAINT [PK_Cimek] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Elerhetosegek]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Elerhetosegek](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Telszam1] [nvarchar](20) NOT NULL,
	[Telszam2] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[WEB] [nvarchar](100) NULL,
	[Megjegyzes] [nvarchar](200) NULL,
 CONSTRAINT [PK_Elerhetosegek] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ElvittEszkozok]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ElvittEszkozok](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feladat_ElvittEszkoz_ID]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feladat_ElvittEszkoz_ID](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FeladatID] [int] NOT NULL,
	[ElvittEszkozID] [int] NOT NULL,
	[Modositott] [bit] NULL,
	[KiVoltJelolve] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feladat_FelhaszAnyag_ID]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feladat_FelhaszAnyag_ID](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FeladatID] [int] NOT NULL,
	[FelhasznaltAnyagID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feladat_User_ID]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feladat_User_ID](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[FeladatID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feladatok]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feladatok](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](100) NOT NULL,
	[ProjektID] [int] NULL,
	[FeladatTipusaID] [int] NOT NULL,
	[FeladatLeirasa] [nvarchar](500) NULL,
	[VarhatoKezdes] [datetime] NULL,
	[VarhatoBefejezes] [datetime] NULL,
	[ViszonyID] [int] NOT NULL,
	[BecsultMunkaOra] [int] NULL,
	[MunkaLeirasa] [nvarchar](1000) NULL,
	[Atiranyitott] [int] NULL,
	[FeladatFelelosUserID] [int] NULL,
	[CimekID] [int] NOT NULL,
	[ElerhetosegekID] [int] NOT NULL,
	[JovahagyvaCB] [bit] NOT NULL,
	[Kido] [time](7) NOT NULL,
	[ArchiveCB] [bit] NULL,
 CONSTRAINT [PK__Feladato__3214EC27EBB4B35D] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeladatokA]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeladatokA](
	[ID] [int] NOT NULL,
	[Nev] [nvarchar](100) NOT NULL,
	[ProjektAID] [int] NULL,
	[FeladatTipusaID] [int] NOT NULL,
	[FeladatLeirasa] [nvarchar](500) NULL,
	[VarhatoKezdes] [datetime] NULL,
	[VarhatoBefejezes] [datetime] NULL,
	[ViszonyID] [int] NOT NULL,
	[BecsultMunkaOra] [int] NULL,
	[MunkaLeirasa] [nvarchar](1000) NULL,
	[Atiranyitott] [int] NULL,
	[FeladatFelelosUserID] [int] NULL,
	[CimekID] [int] NOT NULL,
	[ElerhetosegekID] [int] NOT NULL,
	[JovahagyvaCB] [bit] NOT NULL,
	[Kido] [time](7) NOT NULL,
	[ArchiveCB] [bit] NULL,
 CONSTRAINT [PK__FeladatoA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FeladatTipusok]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeladatTipusok](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FelhasznaltAnyagA]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FelhasznaltAnyagA](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](100) NOT NULL,
	[UserNev] [nvarchar](101) NULL,
	[FeladatAID] [int] NOT NULL,
 CONSTRAINT [PK_FelhasznaltAnyagA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FelhasznaltAnyagok]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FelhasznaltAnyagok](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](100) NOT NULL,
	[UserNev] [nchar](101) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jogosultsag]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jogosultsag](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Jogosultsag] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Koltsegek]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Koltsegek](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KoltsegNeve] [nvarchar](100) NOT NULL,
	[KoltsegErteke] [int] NOT NULL,
	[KoltsegLeirasa] [nvarchar](200) NULL,
	[MunkalapID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Munkalap_Koltseg_ID]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Munkalap_Koltseg_ID](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MunkalapID] [int] NOT NULL,
	[KoltsegID] [int] NOT NULL,
 CONSTRAINT [PK_Munkalap_Koltseg_ID] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Munkalapok]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Munkalapok](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Datum] [datetime] NOT NULL,
	[Magyjegyzes] [nvarchar](200) NULL,
	[Atiranyitott] [int] NULL,
	[JovahagyvaCB] [bit] NOT NULL,
	[FeladatID] [int] NOT NULL,
	[MunkaDatuma] [datetime] NOT NULL,
	[MunkaOra] [decimal](5, 2) NULL,
	[MegtettKM] [int] NULL,
	[Megtekintve] [bit] NOT NULL,
	[KIdo] [time](7) NOT NULL,
	[BIdo] [time](7) NOT NULL,
	[ArchiveCB] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MunkalapokA]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MunkalapokA](
	[ID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[Datum] [datetime] NOT NULL,
	[Magyjegyzes] [nvarchar](200) NULL,
	[Atiranyitott] [int] NULL,
	[JovahagyvaCB] [bit] NOT NULL,
	[FeladatAID] [int] NOT NULL,
	[MunkaDatuma] [datetime] NOT NULL,
	[MunkaOra] [decimal](5, 2) NULL,
	[MegtettKM] [int] NULL,
	[Megtekintve] [bit] NOT NULL,
	[KIdo] [time](7) NOT NULL,
	[BIdo] [time](7) NOT NULL,
	[ArchiveCB] [bit] NULL,
 CONSTRAINT [PK__Munkalap__3214EC27382D3902] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Projektek]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Projektek](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](100) NOT NULL,
	[AzonositoKod] [nvarchar](30) NOT NULL,
	[ArchiveCB] [bit] NULL,
 CONSTRAINT [PK_Projektek] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjektekA]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjektekA](
	[ID] [int] NOT NULL,
	[Nev] [nvarchar](100) NOT NULL,
	[AzonositoKod] [nvarchar](30) NOT NULL,
	[ArchiveCB] [bit] NULL,
 CONSTRAINT [PK_ProjektekA] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[VezetekNev] [varchar](50) NOT NULL,
	[KeresztNev] [varchar](50) NOT NULL,
	[ElerhetosegekID] [int] NOT NULL,
	[CimekID] [int] NOT NULL,
	[JogosultsagID] [int] NOT NULL,
	[ViszonyID] [int] NOT NULL,
	[Jelszo] [nvarchar](max) NOT NULL,
	[SzuletesiDatum] [datetime] NOT NULL,
	[SzuletesiHely] [nvarchar](100) NOT NULL,
	[AnyjaNeve] [nvarchar](100) NULL,
	[SzemIgSzam] [nvarchar](30) NOT NULL,
	[SzamlaSzam] [nvarchar](30) NULL,
	[AdoSzam] [nvarchar](30) NULL,
	[CegAdatokID] [int] NULL,
	[Megegyezik] [bit] NOT NULL,
	[GKRendszam] [nvarchar](15) NULL,
	[UzemanyagAr] [int] NULL,
	[Berezes] [int] NULL,
	[ErtSzemelyNeve] [nvarchar](100) NULL,
	[ErtSzemelyElerhetosegID] [int] NULL,
	[EmailMegerositve] [bit] NOT NULL,
	[AktivaloKod] [uniqueidentifier] NOT NULL,
	[JelszoModositoKod] [nvarchar](100) NULL,
	[BejelentkezveMarad] [bit] NULL,
	[GDPR] [bit] NOT NULL,
 CONSTRAINT [PK_UsersUnisol] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Viszony]    Script Date: 2026. 01. 11. 22:26:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Viszony](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Viszony] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_ErtSzemelyElerh_Elerhetosegek]    Script Date: 2026. 01. 11. 22:26:42 ******/
CREATE NONCLUSTERED INDEX [IX_FK_ErtSzemelyElerh_Elerhetosegek] ON [dbo].[Users]
(
	[ErtSzemelyElerhetosegID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_UsersUnisol_CegAdatok]    Script Date: 2026. 01. 11. 22:26:42 ******/
CREATE NONCLUSTERED INDEX [IX_FK_UsersUnisol_CegAdatok] ON [dbo].[Users]
(
	[CegAdatokID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_UsersUnisol_Cimek]    Script Date: 2026. 01. 11. 22:26:42 ******/
CREATE NONCLUSTERED INDEX [IX_FK_UsersUnisol_Cimek] ON [dbo].[Users]
(
	[CimekID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_UsersUnisol_Elerhetosegek]    Script Date: 2026. 01. 11. 22:26:42 ******/
CREATE NONCLUSTERED INDEX [IX_FK_UsersUnisol_Elerhetosegek] ON [dbo].[Users]
(
	[ElerhetosegekID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_UsersUnisol_Jogosultsag]    Script Date: 2026. 01. 11. 22:26:42 ******/
CREATE NONCLUSTERED INDEX [IX_FK_UsersUnisol_Jogosultsag] ON [dbo].[Users]
(
	[JogosultsagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK_UsersUnisol_Viszony]    Script Date: 2026. 01. 11. 22:26:42 ******/
CREATE NONCLUSTERED INDEX [IX_FK_UsersUnisol_Viszony] ON [dbo].[Users]
(
	[ViszonyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Feladat_ElvittEszkoz_ID]  WITH NOCHECK ADD  CONSTRAINT [FK_Feladat_ElvittEszkoz_ID_ElvittEszkozok1] FOREIGN KEY([ElvittEszkozID])
REFERENCES [dbo].[ElvittEszkozok] ([ID])
GO
ALTER TABLE [dbo].[Feladat_ElvittEszkoz_ID] NOCHECK CONSTRAINT [FK_Feladat_ElvittEszkoz_ID_ElvittEszkozok1]
GO
ALTER TABLE [dbo].[Feladat_ElvittEszkoz_ID]  WITH NOCHECK ADD  CONSTRAINT [FK_Feladat_ElvittEszkoz_ID_Feladatok1] FOREIGN KEY([FeladatID])
REFERENCES [dbo].[Feladatok] ([ID])
GO
ALTER TABLE [dbo].[Feladat_ElvittEszkoz_ID] NOCHECK CONSTRAINT [FK_Feladat_ElvittEszkoz_ID_Feladatok1]
GO
ALTER TABLE [dbo].[Feladat_FelhaszAnyag_ID]  WITH NOCHECK ADD  CONSTRAINT [FK_Feladat_FelhaszAnyag_ID_Feladatok1] FOREIGN KEY([FeladatID])
REFERENCES [dbo].[Feladatok] ([ID])
GO
ALTER TABLE [dbo].[Feladat_FelhaszAnyag_ID] NOCHECK CONSTRAINT [FK_Feladat_FelhaszAnyag_ID_Feladatok1]
GO
ALTER TABLE [dbo].[Feladat_FelhaszAnyag_ID]  WITH NOCHECK ADD  CONSTRAINT [FK_Feladat_FelhaszAnyag_ID_FelhasznaltAnyagok1] FOREIGN KEY([FelhasznaltAnyagID])
REFERENCES [dbo].[FelhasznaltAnyagok] ([ID])
GO
ALTER TABLE [dbo].[Feladat_FelhaszAnyag_ID] NOCHECK CONSTRAINT [FK_Feladat_FelhaszAnyag_ID_FelhasznaltAnyagok1]
GO
ALTER TABLE [dbo].[Feladat_User_ID]  WITH NOCHECK ADD  CONSTRAINT [FK_Feladat_User_ID_Feladatok] FOREIGN KEY([FeladatID])
REFERENCES [dbo].[Feladatok] ([ID])
GO
ALTER TABLE [dbo].[Feladat_User_ID] NOCHECK CONSTRAINT [FK_Feladat_User_ID_Feladatok]
GO
ALTER TABLE [dbo].[Feladat_User_ID]  WITH NOCHECK ADD  CONSTRAINT [FK_Feladat_User_ID_UsersUnisol] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Feladat_User_ID] NOCHECK CONSTRAINT [FK_Feladat_User_ID_UsersUnisol]
GO
ALTER TABLE [dbo].[Feladatok]  WITH NOCHECK ADD  CONSTRAINT [FK_Feladatok_Cimek] FOREIGN KEY([CimekID])
REFERENCES [dbo].[Cimek] ([ID])
GO
ALTER TABLE [dbo].[Feladatok] NOCHECK CONSTRAINT [FK_Feladatok_Cimek]
GO
ALTER TABLE [dbo].[Feladatok]  WITH NOCHECK ADD  CONSTRAINT [FK_Feladatok_Elerhetosegek] FOREIGN KEY([ElerhetosegekID])
REFERENCES [dbo].[Elerhetosegek] ([ID])
GO
ALTER TABLE [dbo].[Feladatok] NOCHECK CONSTRAINT [FK_Feladatok_Elerhetosegek]
GO
ALTER TABLE [dbo].[Feladatok]  WITH NOCHECK ADD  CONSTRAINT [FK_Feladatok_FeladatTipusok] FOREIGN KEY([FeladatTipusaID])
REFERENCES [dbo].[FeladatTipusok] ([ID])
GO
ALTER TABLE [dbo].[Feladatok] NOCHECK CONSTRAINT [FK_Feladatok_FeladatTipusok]
GO
ALTER TABLE [dbo].[Feladatok]  WITH NOCHECK ADD  CONSTRAINT [FK_Feladatok_Projektek1] FOREIGN KEY([ProjektID])
REFERENCES [dbo].[Projektek] ([ID])
GO
ALTER TABLE [dbo].[Feladatok] NOCHECK CONSTRAINT [FK_Feladatok_Projektek1]
GO
ALTER TABLE [dbo].[Feladatok]  WITH NOCHECK ADD  CONSTRAINT [FK_Feladatok_UsersUnisol] FOREIGN KEY([FeladatFelelosUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Feladatok] NOCHECK CONSTRAINT [FK_Feladatok_UsersUnisol]
GO
ALTER TABLE [dbo].[Feladatok]  WITH NOCHECK ADD  CONSTRAINT [FK_Feladatok_UsersUnisol1] FOREIGN KEY([FeladatFelelosUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Feladatok] NOCHECK CONSTRAINT [FK_Feladatok_UsersUnisol1]
GO
ALTER TABLE [dbo].[Feladatok]  WITH NOCHECK ADD  CONSTRAINT [FK_Feladatok_Viszony] FOREIGN KEY([ViszonyID])
REFERENCES [dbo].[Viszony] ([ID])
GO
ALTER TABLE [dbo].[Feladatok] NOCHECK CONSTRAINT [FK_Feladatok_Viszony]
GO
ALTER TABLE [dbo].[FeladatokA]  WITH NOCHECK ADD  CONSTRAINT [FK_FeladatokA_Cimek] FOREIGN KEY([CimekID])
REFERENCES [dbo].[Cimek] ([ID])
GO
ALTER TABLE [dbo].[FeladatokA] NOCHECK CONSTRAINT [FK_FeladatokA_Cimek]
GO
ALTER TABLE [dbo].[FeladatokA]  WITH NOCHECK ADD  CONSTRAINT [FK_FeladatokA_Elerhetosegek] FOREIGN KEY([ElerhetosegekID])
REFERENCES [dbo].[Elerhetosegek] ([ID])
GO
ALTER TABLE [dbo].[FeladatokA] NOCHECK CONSTRAINT [FK_FeladatokA_Elerhetosegek]
GO
ALTER TABLE [dbo].[FeladatokA]  WITH NOCHECK ADD  CONSTRAINT [FK_FeladatokA_FeladatTipusok] FOREIGN KEY([FeladatTipusaID])
REFERENCES [dbo].[FeladatTipusok] ([ID])
GO
ALTER TABLE [dbo].[FeladatokA] NOCHECK CONSTRAINT [FK_FeladatokA_FeladatTipusok]
GO
ALTER TABLE [dbo].[FeladatokA]  WITH NOCHECK ADD  CONSTRAINT [FK_FeladatokA_ProjektekA] FOREIGN KEY([ProjektAID])
REFERENCES [dbo].[ProjektekA] ([ID])
GO
ALTER TABLE [dbo].[FeladatokA] NOCHECK CONSTRAINT [FK_FeladatokA_ProjektekA]
GO
ALTER TABLE [dbo].[FeladatokA]  WITH NOCHECK ADD  CONSTRAINT [FK_FeladatokA_UsersUnisol] FOREIGN KEY([FeladatFelelosUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[FeladatokA] NOCHECK CONSTRAINT [FK_FeladatokA_UsersUnisol]
GO
ALTER TABLE [dbo].[FeladatokA]  WITH NOCHECK ADD  CONSTRAINT [FK_FeladatokA_Viszony] FOREIGN KEY([ViszonyID])
REFERENCES [dbo].[Viszony] ([ID])
GO
ALTER TABLE [dbo].[FeladatokA] NOCHECK CONSTRAINT [FK_FeladatokA_Viszony]
GO
ALTER TABLE [dbo].[FelhasznaltAnyagA]  WITH NOCHECK ADD  CONSTRAINT [FK_FelhasznaltAnyagA_FeladatokA] FOREIGN KEY([FeladatAID])
REFERENCES [dbo].[FeladatokA] ([ID])
GO
ALTER TABLE [dbo].[FelhasznaltAnyagA] NOCHECK CONSTRAINT [FK_FelhasznaltAnyagA_FeladatokA]
GO
ALTER TABLE [dbo].[Koltsegek]  WITH NOCHECK ADD  CONSTRAINT [FK_Koltsegek_Munkalapok] FOREIGN KEY([MunkalapID])
REFERENCES [dbo].[Munkalapok] ([ID])
GO
ALTER TABLE [dbo].[Koltsegek] NOCHECK CONSTRAINT [FK_Koltsegek_Munkalapok]
GO
ALTER TABLE [dbo].[Munkalap_Koltseg_ID]  WITH NOCHECK ADD  CONSTRAINT [FK_Munkalap_Koltseg_ID_Koltsegek] FOREIGN KEY([KoltsegID])
REFERENCES [dbo].[Koltsegek] ([ID])
GO
ALTER TABLE [dbo].[Munkalap_Koltseg_ID] NOCHECK CONSTRAINT [FK_Munkalap_Koltseg_ID_Koltsegek]
GO
ALTER TABLE [dbo].[Munkalap_Koltseg_ID]  WITH NOCHECK ADD  CONSTRAINT [FK_Munkalap_Koltseg_ID_Munkalapok] FOREIGN KEY([MunkalapID])
REFERENCES [dbo].[Munkalapok] ([ID])
GO
ALTER TABLE [dbo].[Munkalap_Koltseg_ID] NOCHECK CONSTRAINT [FK_Munkalap_Koltseg_ID_Munkalapok]
GO
ALTER TABLE [dbo].[Munkalapok]  WITH NOCHECK ADD  CONSTRAINT [FK_Munkalapok_Feladatok] FOREIGN KEY([FeladatID])
REFERENCES [dbo].[Feladatok] ([ID])
GO
ALTER TABLE [dbo].[Munkalapok] NOCHECK CONSTRAINT [FK_Munkalapok_Feladatok]
GO
ALTER TABLE [dbo].[Munkalapok]  WITH NOCHECK ADD  CONSTRAINT [FK_Munkalapok_UsersUnisol] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Munkalapok] NOCHECK CONSTRAINT [FK_Munkalapok_UsersUnisol]
GO
ALTER TABLE [dbo].[MunkalapokA]  WITH NOCHECK ADD  CONSTRAINT [FK_MunkalapokA_FeladatokA] FOREIGN KEY([FeladatAID])
REFERENCES [dbo].[FeladatokA] ([ID])
GO
ALTER TABLE [dbo].[MunkalapokA] NOCHECK CONSTRAINT [FK_MunkalapokA_FeladatokA]
GO
ALTER TABLE [dbo].[MunkalapokA]  WITH NOCHECK ADD  CONSTRAINT [FK_MunkalapokA_UsersUnisol] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[MunkalapokA] NOCHECK CONSTRAINT [FK_MunkalapokA_UsersUnisol]
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD  CONSTRAINT [FK_ErtSzemelyElerh_Elerhetosegek] FOREIGN KEY([ErtSzemelyElerhetosegID])
REFERENCES [dbo].[Elerhetosegek] ([ID])
GO
ALTER TABLE [dbo].[Users] NOCHECK CONSTRAINT [FK_ErtSzemelyElerh_Elerhetosegek]
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD  CONSTRAINT [FK_UsersUnisol_CegAdatok] FOREIGN KEY([CegAdatokID])
REFERENCES [dbo].[CegAdatok] ([ID])
GO
ALTER TABLE [dbo].[Users] NOCHECK CONSTRAINT [FK_UsersUnisol_CegAdatok]
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD  CONSTRAINT [FK_UsersUnisol_Cimek] FOREIGN KEY([CimekID])
REFERENCES [dbo].[Cimek] ([ID])
GO
ALTER TABLE [dbo].[Users] NOCHECK CONSTRAINT [FK_UsersUnisol_Cimek]
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD  CONSTRAINT [FK_UsersUnisol_Elerhetosegek] FOREIGN KEY([ElerhetosegekID])
REFERENCES [dbo].[Elerhetosegek] ([ID])
GO
ALTER TABLE [dbo].[Users] NOCHECK CONSTRAINT [FK_UsersUnisol_Elerhetosegek]
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD  CONSTRAINT [FK_UsersUnisol_Jogosultsag] FOREIGN KEY([JogosultsagID])
REFERENCES [dbo].[Jogosultsag] ([ID])
GO
ALTER TABLE [dbo].[Users] NOCHECK CONSTRAINT [FK_UsersUnisol_Jogosultsag]
GO
ALTER TABLE [dbo].[Users]  WITH NOCHECK ADD  CONSTRAINT [FK_UsersUnisol_Viszony] FOREIGN KEY([ViszonyID])
REFERENCES [dbo].[Viszony] ([ID])
GO
ALTER TABLE [dbo].[Users] NOCHECK CONSTRAINT [FK_UsersUnisol_Viszony]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Archiv feladat és projektek összekötése' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FeladatokA', @level2type=N'CONSTRAINT',@level2name=N'FK_FeladatokA_ProjektekA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Az archiv FeladatID-ja összekötve a felhasznált anyaggal.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FelhasznaltAnyagA', @level2type=N'CONSTRAINT',@level2name=N'FK_FelhasznaltAnyagA_FeladatokA'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Az archiv táblákat köti össze' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MunkalapokA', @level2type=N'CONSTRAINT',@level2name=N'FK_MunkalapokA_FeladatokA'
GO
USE [master]
GO
